<h1>Ejemplo de cambio de layouts </h1>
hola esta es mi primera prueba
<p>tutor:  <%= @tutor%></p>
como el controlador index hace el render por defecto del mismo nombre en este caso es index.htmldfgdsfdsa
<p>Esta es mi primera vista</p>


<%@limite.times do %>
<p><%=@mensaje%></P>
<%end%>




<footer> By: <%=@productora%></footer>
