<!DOCTYPE html>
<html>
<head>
  <title>  apuntando lay Ejemplos de codigo facilito</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<%= yield %>
<p1> layouts de ejemplo</p1>

<header>
     <h1>  en el controlador le damos ...  layout 'ejemplo </h1>
</header>
</body>
</html>
