<!DOCTYPE html>
<html>
<head>
  <title>Ejemplos de codigo facilito</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<%= yield %>
<p1> hoja de estilo para el parrafo</p1>

<header>
     <h1>  aprendiendo a cambiar de layouts  </h1>
</header>
</body>
</html>
