// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
font-family: Arial, 'Hervitica';
background-color:#CCC
}

h1{
ffont-family:verdana;
background-color:red;
font-size: 60px;
text-transform: uppercase;
color:blue;
}

p1{
ffont-family:verdana;
background-color:green;
font-size: 15px;
text-transform: downcase;
color:blue;
}
